.authorize {
  min-height: calc(100vh - 60px);
  background: #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 800px;
  height: 500px;
  background: #1e272e;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  border: 2px solid #485560;


  .welcome-section {
    width: 50%;
    height: 100%;
    background: linear-gradient(135deg, #00d8d6, #4ecdc4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1e272e;
    text-align: center;
    padding: 0 40px;

    .welcome{
      font-size: 36px;
      margin-bottom: 20px;
      animation: bounce 2s infinite ease-in-out;
    }
    @keyframes bounce {
      0%,100%{
        transform: translateY(0);
      }
      50%{
        transform: translateY(-15px);
      }
    }
  }
}

.forms-container{
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;

  .form-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2{
      color: white;
      margin-bottom: 20px;
      text-align: center;
    }
    input{
      width: 100%;
      padding: 15px;
      margin: 10px 0;
      border: 1px solid #808e9b;
      background-color: #485460;
      color: #eee;
      border-radius: 10px;
      outline: none;
    }
    input::placeholder{
      color: #ddd;
    }
    button{
      cursor: pointer;
      width: 100%;
      padding: 15px;
      margin-top: 10px;
      background: #4ecdc4;
      border: none;
      border-radius: 5px;
      color: #1e272e;
      font-size: 16px;
      transition: background 0.3s ease;

      &:hover{
        background: #00d8d6;
      }
    }
    p{
      text-align: center;
      color: #ddd;
    }
    span{
      color: #4ecdc4;
      cursor: pointer;
      font-weight: bold;
    }

  }
}
.active-login{
  .login{
    transform: translateX(0);
  }
  .signup{
    transform: translateX(100%);
  }
}
.active-signup {
  .login {
    transform: translateX(-100%);
  }
  .signup{
    transform: translateX(0);
  }
}
